.dub
docs.json
__dummy.html
docs/
/meme-compendium
meme-compendium.so
meme-compendium.dylib
meme-compendium.dll
meme-compendium.a
meme-compendium.lib
meme-compendium-test-*
*.exe
*.o
*.obj
*.lst
*.jpg
*.png
*.jpeg
!/public/resources/background.jpg
